.box {
  width: 40%;
  max-height: 100%;
  margin: var(--container_margin);
  box-shadow: 0 0 0 0.5px rgb(50 50 93 / 10%), 0 2px 5px 0 rgb(50 50 93 / 10%),
    0 1px 1.5px 0 rgb(0 0 0 / 7%);
  position: absolute;
  top: 535px;
  left: -50%;
  right: -50%;
  z-index: 2;
  background-color: #ffff;
  border-radius: 20px;
  padding: 10px;
}
.box_container {
  width: 90%;
  height: 100%;
  margin: 0px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.box_titles {
  color: var(--color);
}
.partners_link li {
  margin: 10px 0px;
}
.view_more {
  color: var(--color);
}
/* HERO BOX RESPONSIVENESS */
@media screen and (max-width: 576px) {
  .box {
    width: 90%;
    position: static;
    margin-top: 2rem;
    box-shadow: none;
  }
  .box_container {
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    padding: 10px;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .box {
    width: 65%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .box {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .box {
    width: 45%;
  }
}
