.modal_container {
  position: relative;
  overflow: auto;
  top: 5rem;
  width: 50%;
  height: 60%;
  margin: 0px auto;
  background-color: #fff;
  border: 1px solid #80808060;
  border-left: 3px solid red;
  z-index: 2;
  border-radius: 10px;
  padding: 12px;
}

/* MODAL RESPONSIVENESS */

@media screen and (max-width: 576px) {
  .modal_container {
    width: 85%;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .modal_container {
    width: 85%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .modal_container {
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
}
